.container-wrapper {
  height: 100vh;
  background-color: aliceblue;
}

.login-page {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.login-page-header {
  display: flex;
  justify-content: center;
}

.login-page-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 137%; */
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  padding: 10% 20%;
}

input {
  height: 15px !important
}

/* frequently used css here  */
.display-flex-jc-center {
  display: flex;
  justify-content: center;
}