@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

.container-wrapper {
  height: 100%;
  background-color: aliceblue;
  min-height: 100vh;
}

.login-page {
  padding: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px
}

.login-page-header {
  display: flex;
  justify-content: center;
}

.login-page-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* width: 137%; */
  margin: auto;
  /* align-items: center; */
  justify-content: center;
  padding: 10% 20%;
}

input {
  height: 15px !important
}

.home-page {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* frequently used css here  */
.display-flex-jc-center {
  display: flex;
  justify-content: center;
}